@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    ---violet: hsl(257, 40%, 49%);
    ---softmagenta: hsl(300, 69%, 71%);
    ---fontPoppins: 'Poppins', sans-serif;
    ---fontOpenSans: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(---violet);
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(---fontOpenSans);
}

.container {
    width: 1200px;
    max-width: 100%;
}


.logo img {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 160px;
}

.hud-flex {
    display: flex;
}

.hud-flex img {
    width: auto;
}

.hud-flex div {
    flex: 1;
}

.conteudo {
    color: white;
    margin-left: 50px;
    margin-top: 40px;
    font-size: .9rem;
}

.conteudo h1 {
    font-family: var(---fontPoppins);
    font-weight: 600;
    font-size: 2.3rem;
}

.conteudo p {
    margin-top: 20px;
    line-height: 1.5rem;
    font-size: 0.99rem;
    opacity: .9;
}

.conteudo button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: var(---violet);
    width: 200px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: var(---softmagenta);
    box-shadow: 1px 1px 15px black;
}

.redes ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.redes a {
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    justify-content: center;
}

.redes a:hover {
    color: var(---softmagenta);
    border: 2px solid var(---softmagenta);
}

footer {
    margin-top: 30px;
    margin-bottom: 0;
}

.attribution { 
    color: white;
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: white; 
}

@media screen and (max-width:768px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 400px;
        margin: 30px auto;
    }

    img {
        max-width: 100%;
    }

    .hud-flex {
        flex-direction: column;
    }

    .conteudo {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        margin-top: 60px;
    }

    .conteudo h1 {
        font-size: 2rem;
    }

    .redes ul {
        justify-content: center;
    }
}

